*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
html{
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #F5F5F5;
}

.container{
    width: auto;
    height: auto;
    background-color: #FFF;
    border-radius: 16px;
    padding: 32px 64px
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #d33939
}
h2{
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    margin-top: -5px;
    margin-bottom: 16px;
}

form div{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 11px;
}  


form div input{
    border-color: #959595;
    border-style: solid;
    border: 1;
    border-radius: 8px;
    padding: 0px 8px;
    width: calc(325px);
    height: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #959595;
    cursor: text;
    border-width: 2px 
}

form div input:focus{
    outline: none;
    border-color: #575757;
    color: #575757;
}

form div label{
    font-size: 1.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #959595;
}

form div input:focus ~ label{
    color: #575757
}

#mensage{
    margin-top: 8px;
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #FFF;
}

#workerSingupButton{
    margin-top: 8px;
    width: 360px;
    height: 44px;
    border: none;
    border-radius: 8px;
    background-color: #63D161;
    color: #FFF;
    font-size: 2.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600 ;
    cursor: pointer
}
#workerSingupButton:hover{
    background-color: #55c454;
}

#workerSingupButton:active{
    background-color: #47a345;
}

@media (max-width: 600px){
    .container{
        padding: 20px
    }

    h2{
        margin-bottom: 24px;
    }
    form div input{
        width: 240px;
        height: 30px;
        border-width: 1px 
    }

    #workerSingupButton{
        width: 260px;
        font-size: 2rem
    }
}